---
---
@import "config";
@import "partials/mixins";

.cv .content {
    .page__title {
        margin-bottom: 0;
    }

    h3 {
        margin-bottom: 0.5rem;
    }

    .personal {
        text-align: center;
        margin-bottom: 0;

        .name {
            font-weight: bold;
        }

        dt, dd {
            display: inline;
            font-weight: normal;
        }
    }

    .download {
        @extend %screen-only;
        text-align: center;
    }

    @media only screen and (max-width: 600px) {
        ul {
            padding-left: 25px;
        }
    }

    .meta {
        margin-top: 0;

        dt {
            @extend %sr-only;
        }

        dd {
            margin-bottom: 0;
        }

        dd:first-of-type {
            font-weight: bold;
        }
    }

    @media only screen and (min-width: 600px) {
        .meta dd {
            display: inline;

            & ~ dd:before {
                content: " | ";
            }
        }
    }
}
